section.separate{
  height:100vh;
}

.hero {
  margin:0;
  padding:0;
}

.cards, .accordion-tabs, section#combinations {
  @include outer-container();
}

.card {
  @include span-columns(4);
}

.vertical-tab-content-container, .vertical-tab-container, .vertical-tabs, .vertical-tab-content{
  height:auto !important;
}

body.index{ // applies to top page, and build pages within projects only

  .tab-content, .vertical-tab-content {

    @include outer-container();

    img{
      @include span-columns(4);
    }
    p{
      @include span-columns(8);
    }

    &.memory, &.stripboard{
      img{
        @include span-columns(8);
      }
      p{
        @include span-columns(4);
      }
    }

  }

}

.hero-copy h1{
  text-transform: uppercase;
}

section.content{
  @include outer-container();

  //@extend article.type-system-serif;

  margin-top:2em;

  &>p{
    @include span-columns(12);
  }
  &>img{
    @include span-columns(4);
  }

  /* padding-top:60px; //to correspond with fixed header nav */

  ul{
    @extend %default-ul;
  }

  ol{
    @extend %default-ol;
  }

  ul,ol{
    p{
      margin:0;
      padding:0;
    }
  }

}

body.project {

  /*header.navigation{
      position:fixed;
      left:0;
      top:0;
    }*/

  &.build{
    @extend body.index;

    .pagination {
      text-align:right;
      font-size:0.8em;
    }

  }

}





section#combinations {
  img{
    @include span-columns(8);
  }
  p{
    @include span-columns(4);
  }
  img,p{
    margin-top:1em;
    margin-bottom:2em;
  }
}

a.read-more {
  @include clearfix;
  @include button(flat, $base-accent-color);
  margin:20px;
  display:block;
  float: right;
}

.hero-inner {
  padding-top: 1.7em !important;
  h1{
    color:#ff6600;
  }
  p{
    color:white;
  }

}