$grid-columns: 16 !global;

section.separate{
  height:100vh;
}

.hero {
  margin:0;
  padding:0;
}

.cards, .accordion-tabs, section#combinations {
  @include outer-container();
}

.card {
  @include span-columns(4);
}

.vertical-tab-content-container, .vertical-tab-container, .vertical-tabs, .vertical-tab-content{
  height:auto !important;
}

body.index{ // applies to top page, and build pages within projects only

  .tab-content, .vertical-tab-content {

    @include outer-container();

    img{
      @include span-columns(6);
    }
    p{
      @include span-columns(10);
    }

    &.memory, &.stripboard, &.ledclock{
      img{
        @include span-columns(10);
      }
      p{
        @include span-columns(6);
      }
    }

  }

}

.hero-copy h1{
  text-transform: uppercase;
}

section.content{

  @include outer-container();

  margin-top:2em;

  /* padding-top:60px; //to correspond with fixed header nav */

  ul{
    @extend %default-ul;
  }

  ol{
    @extend %default-ol;
  }

  ul,ol{
    p{
      margin:0;
      padding:0;
    }
  }

  .vertical-tabs-container{
    @include span-columns(16);

    .vertical-tabs{
      @include span-columns(3 of 16);
      a.vertical-tab{
        @include fill-parent;
        margin:0;
        padding:0;
        padding-left:1em;
        box-sizing: content-box;
      }
    }

    .vertical-tab-content-container{

      @include row();
      @include span-columns(13 of 16);

      a.picture{
        @include span-columns(5 of 13);
        img{
          @include span-columns(5 of 5);
        }
      }

      section.text{
        @include span-columns(8 of 13);
        p{
          @include fill-parent;
          box-sizing:content-box;
          padding-left:1em;
          padding-right:1em;
        }
        min-height:70%;
      }

    }

  }


}


body.project{

  /*header.navigation{
      position:fixed;
      left:0;
      top:0;
    }*/

  section.content{
    @extend article.type-system-rounded;
  }

  .pagination {
    text-align:right;
    font-size:0.8em;
  }

}

section#combinations {
  img{
    @include span-columns(9);
  }
  p{
    @include span-columns(7);
  }
  img,p{
    margin-top:1em;
    margin-bottom:2em;
  }
}

a.read-more {
  @include clearfix;
  @include button(flat, $base-accent-color);
  margin:20px;
  display:block;
  float: right;
}

.hero-inner {
  padding-top: 1.7em !important;

  h1{
    color:#ff6600;
  }
  p{
    color:white;
  }

}