body.project.build {

  a.vertical-tab {
    font-size:0.8em;
    line-height:2.0;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
  }

  .vertical-tab-content aside{
    font-size:0.8em;
  }

}
